* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  #__next {
    position: relative;
    .first {
      height: 100vh;
      width: 100vw;
      position: relative;
      .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -150%);
        text-align: center;
        height: auto;
        .first-wrap {
          text-align: center;
        }
        > a {
          display: inline-block;
          text-align: center;
        }
      }
    }
    .write {
      width: 100vw;
      height: 100vh;
      .write-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        > form {
          position: relative;
          > div {
            display: flex;
            &:nth-of-type(2) {
              > input {
                margin: 30px 0;
              }
              > p {
                line-height: 360px;
              }
            }
            p {
              margin-right: 10px;
            }
            > input {
              width: 90%;
            }
          }
          > input {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
